body {
    background-color: rgb(163, 79, 231);
  }

  h1 {
    text-align: center;
    color: rgb(231, 236, 242);
  }
  .container {
    width: 950px;
    height: 550px;
    background: aqua;
    position: absolute;
    top: 80px;
    left: 280px;
    border-radius: 50px;
  }

  #myCanvas1{
    margin-top: 40px;
  }

  #myCanvas2{
    margin-top: 40px;
  }

  #myCanvas3{
    margin-top: 40px;
  }
  
  #myCanvas4{
    margin-top: 40px;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
  .bubble {
    cursor: pointer;
  }
  button {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    margin-right: 10%;
    font-size: 22px;
    border-radius: 5px;
    color: red;
    right: 300px;
  }
